# .gitignore

# generated .py files
shapes.py
containers.py
controls.py
buttons.py
slider.py
song_position.py

__pycache__/
*.py[cod]

.history

*.prof
*.trace

# pyenv
.python-version
.pyhist

# vim files
.*.swp

